body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player {
    background-color: #1e1e1e;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    transition: 0.3s;
}
.player:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px;
}

.album-img {
    width: 98%;
    border-radius: 10px;
    transition: 0.3s;

}
.album-img:hover{
    box-shadow: 0 0 5px;
    transform: scale(1.03);

}

h2 {
    margin: 15px 0 5px;
}

p {
    margin: 0;
    color: #bbb;
}

.progress-bar {
    background-color: #333;
    height: 5px;
    border-radius: 5px;
    margin: 15px 0 5px;
    transition: 0.1s;
    cursor: pointer;
}
.progress:hover{
    width: 41%;

}

.progress {
    background-color: #1db954;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #aaa;
}

.controls {
    margin-top: 15px;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

.play {
    font-size: 30px;
    color: #1db954;
}
button:hover{
    text-shadow: 0 0 20px;
    transform: scale(1.3);
}
